/*-------------------
    common styles
---------------------*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.aside-section {
    display: inline-flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    justify-content: space-between;
    margin-left: 10%;
}

.link {
    text-decoration: none;
    color: white;
    background-color: tomato;
    border-radius: 6px;
    padding: 10px 16px;
}

.link:hover {
    background-color: red;
    text-align: left;
}

p {
    margin-bottom: 3em;
}


/*------------------
    top banner
--------------------*/

.banner:hover {
    width: 85%;
}

.banner {
    width: 80%;
    height: auto;
    margin: 60px auto;
    background-color: black;
    border-radius: 10px;
    transition: width 2s, transform 1s;
}

.banner-element {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.banner-info,
.banner-img {
    padding-top: 20px;
    color: white;
    width: 40%;
    height: auto;
}



/*---------------------
    Aside Section
---------------------*/

/* .asides-contents {
    margin: auto;
} */

.aside-title {
    width: 80%;
    margin: 10px auto;
}

h1 {
    margin: auto;
}

.sticky {
    position: sticky;
    top: 0px;
    left: auto;
    overflow: hidden;
}


.aside-element {
    width: 100%;
    height: auto;
    padding: 0 10px;
    background-color: black;
    border-radius: 10px;
    padding-right: 5px;
}

.aside-link:hover {
    background-color: #888888;
}

.aside-link {
    display: block;
    height: auto;
    margin: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 6px;
    padding: 10px 20px;
    text-align: center;
}

.aside-match {
    background-color: red;
    color: white;
}

.matches-article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.matches {
    margin: 10px;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 4px;
}

.match {
    padding: 20px;
}

.match-img {
    display: flex;
    flex-direction: row;
    width: 40%;
}

.match-info {
    text-align: center;
}



.view-more {
    display: none;
}

footer {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 20px;
    color: white;
    background-color: black;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

footer hr {
    width: 80%;
}

.social-icon a {
    padding-top: 20px;
    margin: 0 20px;
}


/*-----------------------------------------------
        Media Queries (Responsive Design)
-------------------------------------------------*/


/*-------------------------- For Mobile------------------------ */


@media only screen and (max-width: 688px) {

    /* -----Top-Banner----- */

    .banner {
        width: 95%;
        margin: auto;
    }

    .banner-element {
        flex-direction: column;
    }

    .banner-info {
        width: 95%;
        margin: auto;
        text-align: center;
    }

    .banner-img {
        width: 80%;
        margin: auto;
        margin-top: 30px;
        padding: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /*------aside------*/

    .aside-section {
        display: grid;
    }

    .aside-element {
        background-color: white;
        text-align: center;
        margin: auto;
    }

    .aside-link {
        display: flex;
        width: 100px;
        border: 1px solid gray;
    }

    .matches-article {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 15px auto;
    }

    .sixplus {
        display: none;
    }

    .view-more {
        display: none;
    }

    .footer-link {
        display: flex;
        flex-direction: column;
    }
}


/*---------------------- For Tablet-------------------- */
@media only screen and (min-width: 689px) and (max-width: 992px) {

    bo .banner {
        margin: 30px auto;
        width: 90%;
    }

    .banner-img {
        width: auto;
    }

    /*------aside------*/

    .aside-section {
        display: grid;
    }

    .aside-element {
        display: flex;
        background-color: white;
        text-align: center;
        width: 80%;
        justify-content: space-between;
        margin: auto;
    }

    .aside-link {
        display: flex;
        justify-content: space-around;
        width: auto;
        padding: auto;
        margin: auto;
        border: 1px solid gray;
    }

    .matches-article {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin: 15px auto;
        justify-items: center;
    }

    .view-more {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .sixplus {
        display: none;
    }

    .footer {
        width: 100%;
    }

    .footer-link {
        display: flex;
        flex-direction: column;
    }
}