/*-------------------
    common styles
---------------------*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.aside-section {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

.link {
    text-decoration: none;
    color: white;
    background-color: tomato;
    border-radius: 6px;
    padding: 10px 16px;
}

p {
    margin-bottom: 3em;
}


/*------------------
    top banner
--------------------*/

.banner {
    width: 80%;
    height: auto;
    margin: 60px auto;
    background-color: black;
    border-radius: 10px;
}

.banner-element {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.banner-info,
.banner-img {
    padding-top: 20px;
    color: white;
    width: 40%;
    height: auto;
}



/*---------------------
    Aside Section
---------------------*/
.aside-title {
    width: 80%;
    margin: 10px auto;
}

h1 {
    margin: auto;
}

.sticky {
    position: sticky;
    top: 0px;
    left: auto;
    overflow: hidden;
}


.aside-element {
    width: 100%;
    height: auto;
    padding: 0 10px;
    background-color: black;
    border-radius: 10px;
    padding-right: 5px;
}

.aside-link {
    display: block;
    height: auto;
    margin: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 6px;
    padding: 10px 20px;
    text-align: center;
}

.aside-blogs {
    background-color: red;
    color: white;
}

.transfer {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px 6px;
}

.blogs-article {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-left: 30px;
}

.blogs {
    height: auto;
    width: 95%;
    border-radius: 4px;
    margin: 10px 0;
    box-shadow: 5px 5px 5px #888888;
}

.blog img {
    width: 100%;
}


/*-----------------------------------------------
        Media Queries (Responsive Design)
-------------------------------------------------*/


/*-------------------------- For Mobile------------------------ */


@media only screen and (max-width: 688px) {

    /* -----Top-Banner----- */

    .banner {
        width: 95%;
        margin: 30px auto;
    }

    .banner-element {
        flex-direction: column;
    }

    .banner-info {
        width: 95%;
        margin: auto;
        text-align: center;
    }

    .banner-img {
        width: 95%;
        margin: auto;
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}


/*---------------------- For Tablet-------------------- */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .banner {
        margin: 30px auto;
        width: 90%;
    }

    .banner-img {
        width: auto;
    }
}